.imageslider{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: hidden;
    flex-direction: row;
}

.imageslider img{
    margin: auto;
    width: 90px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.skill{
    color: black;
}

.description{
    color: gray;
}

.Skillcard{
    background-color: #f2f0f0;
    width: 170px;
    height: auto;
    border-radius: 15px;
    padding-left: 40px;
    margin: 20px;
}

.partingline{
    border-bottom-color: gray;
    border-bottom-style: groove;
    width: 100%;
}