.WorkExperience{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.WorkExperience .WorkExperienceSteps{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.WorkExperience .WorkExperienceSteps .WorkExperienceStep{
    height: 120px;
    width: 120px;
    background: #0EA642;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

    .WorkExperienceSteps .WorkExperienceStep:active{
    background-color: #4070f4;
    color: #4070f4;
}

.WorkExperienceSteps .progress_bar{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: -1;
}

.progress_bar .indicator{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #4070f4;

}

.WorkExperience .WorkExperienceButtons{
    display: flex;
    gap: 20px;
}

.WorkExperienceButtons button{
    padding: 8px 25px;
    background-color: #4070f4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.WorkExperienceButtons button:disabled {
    background-color: #87a5f8;
    cursor: not-allowed;
}